body{
   background-color:#f0efef;
   height: 100%;   
}


.naslovnaslika {
  background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)),url("naslovna.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.naslovnitekst {
  text-align: center;
  font-family: "DejaVu Sans Mono";
  color: white;
}
.kvarner {
  background-image: url("kvarnerskizaljev.png");
  height:100%;
  width: 100%;
}
.button {
  border-radius: 10px;
  background-color: #cfe0e8;
  border: none;
  color: black;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 font-family: DejaVu Sans Mono;
}

.navbar-custom {
  background-color: #cfe0e8;
}
video{
	max-width: 100%;
    height: auto;
}
h1{
	text-align: center;
	font-family: DejaVu Sans Mono;
}
h2{
	text-align:center;
	font-family:DejaVu Sans Mono; 
	font-size: 30px;
}
	
p{
	text-align:center; 
	font-family:DejaVu Sans Mono; 
	font-size: 20px;
}

ul{
	list-style: circle;
}

table{
	border: 1px solid black;
	border-collapse: collapse; 
}

td{
	border: 1px solid black;
	padding: 5px;
	font-size:25px;
}
.boja{
    background-color:#cfe0e8;
}
a:link {
  text-decoration: italic;
  color: black;
}

a:visited {
  text-decoration: underline;
  color: gray;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}   


